In [114]:
import pandas as pd
from matplotlib import pyplot as plt

In [115]:
df=pd.read_excel('itas.xlsx')

In [116]:
df.columns

Index(['Date', 'SkillWorker', 'InternationalGraduate', 'EntryLevel',
       'EESkillWorker', 'EEInternationalGraduate', 'InvitationNumber',
       'TechPilot'],
      dtype='object')

### All years' average ITA points

In [117]:
df.loc[:,'SkillWorker':'EEInternationalGraduate'].mean(0)

SkillWorker                88.383333
InternationalGraduate      92.816667
EntryLevel                 69.150000
EESkillWorker              91.325000
EEInternationalGraduate    93.608333
dtype: float64

### 2020 -2018 Regular Average ITA points

In [159]:
cats=['SkillWorker','InternationalGraduate','EntryLevel','EESkillWorker','EEInternationalGraduate']
all_points_regual=[]
for y in ['2020','2019','2018']:
    st=y+'-01-01'
    ed=y+'12-31'
    points=[y] #年份作为新DataFrame的第一列
    for cat in cats:
        itas=df[(df.Date>=st)&(df.Date<=ed)][df.TechPilot==False].loc[:,cat].mean()
        points.append(itas)  # 取出5个分类的分数
        #print(cat+":"+str(itas))
    all_points_regual.append(points) # 取出三年的分数

print('2020-2018 average points')
print(all_points_regual)
print('\n')

2020-2018 average points
[['2020', 101.0, 103.44444444444444, 83.5, 108.66666666666667, 106.33333333333333], ['2019', 93.20833333333333, 99.875, 75.0, 98.875, 101.66666666666667], ['2018', 83.12, 88.32, 59.833333333333336, 86.16, 88.84]]

<ipython-input-159-275f4adbfe52>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  itas=df[(df.Date>=st)&(df.Date<=ed)][df.TechPilot==False].loc[:,cat].mean()

### 2020-2018 Tech Pilot  Avearge ITA Points

In [160]:
cats=['SkillWorker','InternationalGraduate','EntryLevel','EESkillWorker','EEInternationalGraduate']
all_points_techpilot=[]
for y in ['2020','2019','2018']:
    st=y+'-01-01'
    ed=y+'12-31'
    points=[y] #年份作为新DataFrame的第一列
    for cat in cats:
        itas=df[(df.Date>=st)&(df.Date<=ed)][df.TechPilot==True].loc[:,cat].mean()
        points.append(itas)  # 取出5个分类的分数
        #print(cat+":"+str(itas))
    all_points_techpilot.append(points) # 取出三年的分数

print('2020-2018 average points')
print(all_points)
print('\n')

2020-2018 average points
[['2020', 86.6923076923077, 86.6923076923077, nan, 86.6923076923077, 86.6923076923077], ['2019', 89.20689655172414, 91.62068965517241, nan, 89.41379310344827, 91.79310344827586], ['2018', 83.4, 90.9, 61.25, 86.7, 91.3]]

<ipython-input-160-d1c5f4f97ede>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  itas=df[(df.Date>=st)&(df.Date<=ed)][df.TechPilot==True].loc[:,cat].mean()

### 2018-2020 Tech Pilot 平均ITA分数

In [161]:
labels=['Year','SkillWorker','InternationalGraduate','EntryLevel','EESkillWorker','EEInternationalGraduate']
avg_df=pd.DataFrame.from_records(all_points_techpilot,columns=labels) # all_points list[][]使用List来生成DataFrame对象

In [162]:
avg_df

,Year,SkillWorker,InternationalGraduate,EntryLevel,EESkillWorker,EEInternationalGraduate
0,2020,86.692308,86.692308,NaN,86.692308,86.692308
1,2019,89.206897,91.620690,NaN,89.413793,91.793103
2,2018,83.400000,90.900000,61.25,86.700000,91.300000

### 2018-2020 Regular 平均ITA分数

In [164]:
labels=['Year','SkillWorker','InternationalGraduate','EntryLevel','EESkillWorker','EEInternationalGraduate']
avg_df=pd.DataFrame.from_records(all_points_regual,columns=labels) # all_points list[][]使用List来生成DataFrame对象

In [165]:
avg_df

,Year,SkillWorker,InternationalGraduate,EntryLevel,EESkillWorker,EEInternationalGraduate
0,2020,101.000000,103.444444,83.500000,108.666667,106.333333
1,2019,93.208333,99.875000,75.000000,98.875000,101.666667
2,2018,83.120000,88.320000,59.833333,86.160000,88.840000