In [30]:
import pandas as pd
from datetime import datetime

### 读取20200609格式数据

In [85]:
df=pd.read_csv('itas.txt',parse_dates=['Date'] ) #解释Date字符串为日期

In [86]:
df.iloc[0,0]

Timestamp('2018-01-03 00:00:00')

In [87]:
labels=df.columns

In [88]:
df

,Date,SkillWorker,InternationalGraduate,EntryLevel,EESkillWorker,EEInternationalGraduate,InvitationNumber,TechPilot
0,2018-01-03,75,70,40.0,75,70,340,False
1,2018-01-17,75,70,40.0,75,70,403,False
2,2018-01-31,75,70,40.0,75,70,383,False
3,2018-02-14,80,75,40.0,80,75,339,False
4,2018-02-28,77,82,40.0,82,82,365,False
...,...,...,...,...,...,...,...,...
114,2020-05-07,102,106,83.0,108,106,237,False
115,2020-05-12,80,80,NaN,80,80,92,True
116,2020-05-19,100,103,81.0,110,110,170,False
117,2020-05-26,80,80,NaN,80,80,133,True
118,2020-06-02,100,100,81.0,105,105,241,False

In [89]:
cd=[[datetime.strptime('2020-06-09','%Y-%m-%d'),'82','82','82','82','82','87','True']] #解释字符串为日期
cdf=pd.DataFrame.from_records(cd, columns=labels)

In [90]:
cdf.iloc[0,0]

Timestamp('2020-06-09 00:00:00')

In [91]:
df.iloc[-1,0]

Timestamp('2020-06-02 00:00:00')

In [92]:
if cdf.iloc[0,0] > df.iloc[-1,0]: #比较两个日期
    df=df.append(cdf)

In [93]:
df['Date']=df['Date'].dt.strftime('%Y%m%d')

In [94]:
df.to_csv('itas.txt', mode='w',header=True,index=False)