In [5]:
people={'first':['jacky','dan','Jackson'],'last':['zhang','zhang','zhang'],'email':['jacky@gmail.com','dan@gmail.com','jackson@gmail.comS']}

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame(people)

In [8]:
df

     first   last               email
0    jacky  zhang     jacky@gmail.com
1      dan  zhang       dan@gmail.com
2  Jackson  zhang  jackson@gmail.comS

In [9]:
df['email']

0       jacky@gmail.com
1         dan@gmail.com
2    jackson@gmail.comS
Name: email, dtype: object

In [10]:
df.set_index('email')

                      first   last
email
jacky@gmail.com       jacky  zhang
dan@gmail.com           dan  zhang
jackson@gmail.comS  Jackson  zhang

In [11]:
df

     first   last               email
0    jacky  zhang     jacky@gmail.com
1      dan  zhang       dan@gmail.com
2  Jackson  zhang  jackson@gmail.comS

In [12]:
df.set_index('email',inplace=True)

In [13]:
df

                      first   last
email
jacky@gmail.com       jacky  zhang
dan@gmail.com           dan  zhang
jackson@gmail.comS  Jackson  zhang

In [14]:
df.index

Index(['jacky@gmail.com', 'dan@gmail.com', 'jackson@gmail.comS'], dtype='object', name='email')

In [16]:
df.loc['jacky@gmail.com','last']

'zhang'

In [21]:
df.loc[:,'first':'last']

                      first   last
email
jacky@gmail.com       jacky  zhang
dan@gmail.com           dan  zhang
jackson@gmail.comS  Jackson  zhang

In [24]:
df.reset_index(inplace=True)
df

   index               email    first   last
0      0     jacky@gmail.com    jacky  zhang
1      1       dan@gmail.com      dan  zhang
2      2  jackson@gmail.comS  Jackson  zhang